* {
    margin: 0;
    padding: 0;
}

header,
footer {
    height: 20vh;
    background-color: rgb(87, 9, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 60vh;
    display: flex;
}

article {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgb(173, 255, 20);
    display: flex;
    align-items: center;
    float: left;
    padding: 20px;
    height: 555px;
    width: 100px;
}